/* reset css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* thêm font vào cho tất cả các phần tử html  */
body {
  font-family: 'Oswald', sans-serif;
}

.container {
  /* giới hạn chiều dài của phần tử  */
  max-width: 1440px;
  margin: 0 auto;
}

/* header  */
header {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid black;
}

header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
  padding: 20px 0;
}

/* ở đây gọi thẳng tới thẻ a để đè lại màu mặc định của trình duyệt */
header .header_content .header_logo a {
  font-size: 35px;
  color: white;
  text-decoration: none;
}

header .header_content .header_nav ul {
  list-style: none;
}

header .header_content .header_nav ul li {
  display: inline-block;
  /* background-color: pink; */
  margin: 0 20px;
}

header .header_content .header_nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  /* transition giúp các hiệu ứng chuyển đổi css diễn ra chậm hơn  */
  transition: all 0.5s;
}

header .header_content .header_nav ul li a:hover {
  color: red;
  /* font-size: 30px; */
}

/* mình sẽ viết một số thuộc tính css cho thẻ li nào được kích hoạt class active  */
header .header_content .header_nav .active a {
  color: red;
}

/* css banner  */
.banner {
  background-image: url(./../image/home_slider.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.banner .sub_title {
  font-size: 25px;
}

.banner .banner_title {
  font-size: 75px;
  /* text-transform giúp thay đổi kiểu chữ trong phần tử, có 3 giá trị : in hoa, thường, in hoa chữ cái đầu tiên  */
  text-transform: uppercase;
  line-height: 90px;
}

.banner .banner_content button {
  background-color: red;
  padding: 10px 20px;
  border: 1px solid red;
  color: white;
  margin-top: 15px;
  transition: all 0.5s;
  cursor: pointer;
}

.banner .banner_content button:hover {
  background-color: rgb(113, 4, 4);
}
.banner .banner_content i{
  display: block;
  font-size: 25px;
  margin-top: 10px;
  animation-name: arrowGoDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
/* css service  */
.service {
  padding: 50px 0;
  background-color: black;
  text-align: center;
}

.service .service_title p:nth-child(1) {
  color: red;
}

/* .service .service_title p:nth-child(3) {
  color: blue;
} */

.service .service_title h2 {
  color: white;
  font-size: 50px;
}

.service .service_title p:last-child {
  color: gray;
}

.service .service_content .item_carousel {
  padding: 0 10px;
}

.service .item_carousel .carousel_bg {
  background-color: white;
  padding: 50px;
  color: gray;
  position: relative;
}

.service .item_carousel .carousel_bg i {
  font-size: 50px;
}

.service .item_carousel .carousel_bg p {
  text-transform: uppercase;
  font-size: 18px;
}

.service .slick-dots li button:before {
  font-size: 15px;
  color: blue;
  opacity: 0.5;
}

.service .slick-dots li.slick-active button::before {
  color: red;
  opacity: 1;
}

.service .carousel_bg::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 0;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.service .carousel_bg:hover::before {
  height: 100%;
}

/* css blog  */
.blog {
  padding: 50px 0;
  text-align: center;
}

.blog .blog_title .sub_title {
  color: gray;
}

.blog .blog_title h2 {
  font-size: 50px;
}

.blog .blog_title .description {
  color: gray;
}

.blog .blog_content {
  display: grid;
  /* grid-template-columns giúp tạo ra các cột cho grid, các giá trị truyền vào theo thứ tự sẽ là chiều dài cho các cột được tạo ra  */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  /* gap giúp tạo khoảng cách giữa các cột và dòng  */
  gap: 30px;
}

.blog .blog_content .blog_item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog .blog_content .blog_item:last-child {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blog .blog_content .blog_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter là giúp chỉnh sửa bộ lọc của ảnh  */
  filter: grayscale(60%) brightness(80%);
}

.blog .blog_content .blog_item {
  position: relative;
}

.blog .blog_content .blog_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(230, 43, 74, 0.6);
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.blog .blog_content .blog_overlay .overlay_icon {
  text-align: right;
}

.blog .overlay_icon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  transform: translateY(20px);
  transition: all 0.5s;
}

.blog .blog_content .blog_overlay .overlay_text {
  text-align: left;
  text-transform: uppercase;
  color: white;
  transform: translateY(20px);
  transition: all 0.5s;
}

.blog .blog_content .blog_item:hover .blog_overlay {
  /* display: block; */
  opacity: 1;
}
.blog .blog_content .blog_item:hover .overlay_icon i {
  transform: translateY(0);
}
.blog .blog_content .blog_item:hover .overlay_text{
  transform: translateY(0);
}

/* css number */
.number{
  background-color: black;
  padding: 50px 0;
  color: white;
}
.number .number_content{
  display: flex;
  justify-content: space-around;
}
.number .number_content .number_item{
  text-align: center;
  font-size: 30px;
}
/* css digital */
.digital{
  padding: 50px 0;
  background-image: url(./../image/bussiness_img_1.jpg);
  text-align: center;
}
.digital .digital_title .sub_title{
  color: red;
}
.digital .digital_title h2{
  font-size: 50px;
  color: white;
}
.digital .digital_title .description{
  color: gray;
}
/* css contact */
.contact{
  padding: 50px 0;
  text-align: center;
}
.contact .contact_title h2{
  font-size: 50px;
}
.contact .contact_title p{
  color: gray;
}
.contact .contact_content{
  display: flex;
}
.contact .content_left{
  flex-basis: 60%;
}
.contact .content_right{
  flex-basis: 40%;
  padding-left: 20px;
}
.contact .content_right form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contact .content_right form input, textarea{
  padding: 15px;
  border: 1px solid black;
}
/* back to top css */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}
.back-to-top{
  position: fixed;
  right: 30px;
  bottom: 50px;
  padding: 15px;
  background-color: red;
  color: white;
}
/* animation */
@keyframes arrowGoDown{
  from{
    transform: translateY(0);
    opacity: 1;
  } to{
    transform: translateY(20px);
    opacity: 0;
  }
}